models/*

__pycache__/

data/eraser-movie/dev/bert/embedding/*
data/eraser-movie/dev/roberta/embedding/*
data/eraser-movie/train/bert/embedding/*
data/eraser-movie/train/roberta/embedding/*

data/jigsaw/train/bert/embedding/*
data/jigsaw/train/roberta/embedding/*
data/jigsaw/dev/bert/embedding/*
data/jigsaw/dev/roberta/embedding/*

data/agnews/train/bert/embedding/*
data/agnews/train/roberta/embedding/*
data/agnews/dev/bert/embedding/*
data/agnews/dev/roberta/embedding/*

scripts/all_old_logs/*
scripts/finetune_model/*
scripts/logs/*
codebooks/*
concepts/*
output/*


.my_key
.my_key.pub